.checkbox-container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 5px 15px;
}

.checkbox-container label {
    display: flex;
    align-items: center;
}

.checkbox-container input[type="checkbox"] {
    grid-column: 1;
}

.checkbox-container label {
    grid-column: 2;
}
