.left1{
    margin-left: 20px;
}


.left1 h2 {
    font-weight: 400;
    color: white;
}

.left1 h2 span {
    font-weight: bold;
}

.nav-menu {
    width: 100%;
    max-width: 768px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    list-style: none;
    gap: 50px;
    font-size: 20px;
    font-weight: 500;
    transition: max-height 0.5s ease;
}

.nav-menu li {
    cursor: pointer;
}

/* Aseguramos que el <a> no tenga subrayado y sea blanco */
.nav-menu a {
    color: white; /* Color blanco para el texto */
    text-decoration: none; /* Sin subrayado */
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #ff4141; /* Color de fondo del hr */
}

.navbar {
    padding: 16px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Cambiado para mejorar el espaciado */
    height: 100px;
}

/* Estilos para mostrar/ocultar en pantallas pequeñas */
.nav-menu {
    display: none; /* Ocultar por defecto */
}

.nav-menu.active {
    display: flex; /* Mostrar cuando está activo */
    flex-direction: column; /* Los li se apilan verticalmente */
}

/* Responsividad */
@media (min-width: 768px) {
    .nav-menu {
        display: flex; /* Mostrar siempre en pantallas grandes */
        flex-direction: row; /* Los li están uno al lado del otro */
    }

    .navbar .burger {
        display: none; /* Ocultar el botón en pantallas grandes */
    }
}

.bg-div {
    background-color: #222;
    position: absolute;
    top: -1000px;
    left: -1000px;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.6s ease;
}

.bg-div.active {
    border-radius: 0 0 80% 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.right1 {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    margin-right: 20px;
}

.nav-cart-count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-top: -30px;
    margin-left: -25px;
    font-size: 14px;
    background: red;
    color: white;
    border-radius: 50%;
}

.right1 button {
    width: 147px;
    height: 48px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 18px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}

.right1 button:hover {
    background: #f5f5f5;
}