.suggestion-container {
    text-align: center;
    margin: 20px;
}

.suggestion-container p {
    margin-bottom: 10px;
}

.suggestion-container button {
    margin-top: 40px;
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

