.suggestion-container {
    text-align: center;
    margin-top: 100px;
    margin: 20px;
    padding-top: 30px;
}

.suggestion-container hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}

.suggestion-container p {
    margin-bottom: 10px;
}

.suggestion-container button {
    margin-top: 40px;
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background: darkslategrey;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

