.aboutus {
    width: 100%;
    height: auto;
    background: #fce3fe;
    padding-top: 100px;
    padding-bottom: 150px;
}

.aboutus-container {
    width: 1000px;
    height: auto;
    background: white;
    margin: auto;
    padding: 40px 60px;
}

.aboutus-container h1 {
    margin: 20px 0px;
}

.aboutus-container p {
    margin-top: 30px;
    font-size: 18px;
    line-height: 1.6;
}

.aboutus-container .button-container {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}